$orange: #EF3D37;
$bluegrey: #789ABB;
$grey: #4C5760;
$lightgrey: #93A8AC;
$blue: #434DB0;


@mixin fontSize($fontSize){
	font-size: $fontSize * 1px;
	font-size: ($fontSize / 10) * 1rem;
}

header {
		/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,ffffff+100&amp;1+0,0+100;White+to+Transparent */
	background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(255,255,255,0))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=0 ); /* IE6-9 */
	padding: 2% 0;
	h2 {
		@include fontSize(14);
		a {
			color: black;
		}
	}
}

div.header {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	.tiffany {
		width: 20%;
	}
}

div.menu ul {
	margin: 0;
	padding: 0;
	list-style: none;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	li {
		margin-right: 10px;
		a {
			letter-spacing: 1.5px;
			color: #898989;
			padding: 10px;
			@include fontSize(8);
			text-transform: uppercase;
			&:hover {
				color: $grey;
			}
		}
	}
}


